* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(209, 197, 172);
    }
    
    #title {
        font-size: 25px;
        background-color: bisque;
        color: rgba(252, 136, 64, 0.744);
        font-weight: bold;
        text-align: justify;
    }
    
    .img {
        width: 400px;
        height: auto;
    }
    
    .para {
        font-size: 15px;
        font-weight: 500;
        text-align: left;
    
    }
    
    .ing {
        font-weight: bold;
        font-size: 18px;
        background-color:bisque ;
    
    }
    
    .stp {
        font-weight: bold;
        font-size: 18px;
        background-color: bisque;
    }